# Visual Studio files
.vs/
*.user
*.suo

# Build outputs
bin/
obj/
*.dll
*.exe

# .NET runtime & debug artifacts
*.pdb
*.db
*.mdb
*.log
*.deps.json

# Publish folder
publish/

# Framework-specific folders
net8.0/
