@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div id="DivCreateDialogHolder" class="model fade text-width:30%;" role="dialog">
    <div class="model-dialog">
        <div class="model-content">
            <div class="model-header">
                <h2>Create</h2>
                <button type="button" class="close" data-bs-dismiss="model">&times;></button>
            </div>

            <div id="DivCreateDialog" class="model-body"></div>

            <div class="model-footer">
                <button type="button" class="btn btn-danger" data-icon="Close" data-bs-dismiss="model">Close</button>
            </div>
        </div>
    </div>
</div>